<h1>Let's replace your word!</h1>
<form action='/results' method='get'>
  <div class="form-group">
  <label for="givenWords">Give us a phrase:</label>
  <input name="phrase">
  <label for="givenWords">Give us a word to replace:</label>
  <input name="word">
  <label for="givenWords">Give us a word to replace with:</label>
  <input name="wordReplace">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
